USE [master]
GO
/****** Object:  Database [Breast_Cancer]    Script Date: 20/08/2025 6:00:01 PM ******/
CREATE DATABASE [Breast_Cancer] ON  PRIMARY 
( NAME = N'Breast_Cancer', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Breast_Cancer.mdf' , SIZE = 9472KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Breast_Cancer_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Breast_Cancer_log.LDF' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Breast_Cancer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Breast_Cancer]
GO
/****** Object:  Table [dbo].[Diagnosis$]    Script Date: 20/08/2025 6:00:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosis$](
	[Diagonsis_id] [int] NOT NULL,
	[Date_of_Diagnosis] [float] NULL,
	[Cancer_stage] [float] NULL,
 CONSTRAINT [PK_Diagonsis_id] PRIMARY KEY CLUSTERED 
(
	[Diagonsis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIFESTYLE$]    Script Date: 20/08/2025 6:00:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIFESTYLE$](
	[Lifestyle_id] [nvarchar](255) NOT NULL,
	[Smoker_history] [nvarchar](255) NULL,
	[BMI] [float] NULL,
 CONSTRAINT [PK_LIFESTYLE$] PRIMARY KEY CLUSTERED 
(
	[Lifestyle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login table]    Script Date: 20/08/2025 6:00:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login table](
	[id] [nchar](10) NOT NULL,
	[User_name] [nchar](10) NULL,
	[password] [nchar](10) NULL,
 CONSTRAINT [PK_login table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAL_HISTORY$]    Script Date: 20/08/2025 6:00:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAL_HISTORY$](
	[MH_id] [nvarchar](255) NULL,
	[Beign_biopsy_history] [float] NULL,
	[Denser_breast_Tissue] [float] NULL,
	[BRCA_gene_mutation] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT$]    Script Date: 20/08/2025 6:00:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT$](
	[Patient_id] [int] NOT NULL,
	[Race] [nvarchar](255) NULL,
	[Family_History] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_Patient_id] PRIMARY KEY CLUSTERED 
(
	[Patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHYSICIAN$]    Script Date: 20/08/2025 6:00:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHYSICIAN$](
	[Name] [nvarchar](255) NULL,
	[physician_id] [varchar](255) NOT NULL,
	[Qualification] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHYSICIAN$] PRIMARY KEY CLUSTERED 
(
	[physician_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENT$]    Script Date: 20/08/2025 6:00:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENT$](
	[Treatment_id] [int] NOT NULL,
	[Treatment_type] [nvarchar](255) NULL,
 CONSTRAINT [PK_TREATMENT$] PRIMARY KEY CLUSTERED 
(
	[Treatment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
