<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication4.Properties.Settings.Breast_CancerConnectionString"
            connectionString="Data Source=LAPTOP-BR3HMMC8\SQLEXPRESS;Initial Catalog=Breast_Cancer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>